<div class="container">
  <%= form_tag ducks_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      classe: "form-control",
      placeholder: "Type a language"
    %>
    <%= submit_tag "Search", class: "btn btn-flat" %>
  <% end %>
    <div class="container-row container-with-map">
      <div class="cards">
        <% @ducks.each do |duck| %>
          <div class="card">
            <div class="card-info">
              <h3><%= link_to duck.name, duck_path(duck) %></h3>
              <p>
                <% duck.skills.each do |skill| %>
                  <%= skill.name %>
                <% end %>
              </p>
            </div>
            <div class="card-photo">
              <%= cl_image_tag duck.photo.key, height: 200, crop: :fill, class: "img rounded cover img-fluid" %>
            </div>
            <div class="card-row">
              <p><%= duck.price.round %> Euros/day</p>
              <p><%= duck.average_rating %>/5.0</p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="container-map">
        <div style="height: 600px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
</div>
