<div class="container">
  <div class="search rounded-pill align-middle">
    <%= simple_form_for :rental, url: root_path, method: :get do |f| %>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
        <h2>From</h2>
        </div>
        <div class="col-auto">
        <%= f.input :date_start, as: :date, html5: true, label: false %>
        </div>
        <div class="col-auto">
        <h2>To</h2>
        </div>
        <div class="col-auto">
        <%= f.input :date_end, as: :date, html5: true, label: false %>
        </div>
        <div class="col-auto">
        <%= link_to "Check availability", "#", class: "btn btn-gradient" %>
        </div>
      </div>
    <% end %>
  </div>
  <h1>Find the Duck you need!</h1>
  <p><%= @ducks.length %> ducks</p>
  <% if policy(Duck).create? %>
    <%= link_to "Create a new Duck", new_duck_path, class: "btn btn-flat" %>
  <% end %>
  <%#= link_to "Back to rentals", rentals_path, class: "btn btn-flat"%>
    <div class="container-row container-with-map">
      <div class="cards">
        <% @ducks.each do |duck| %>
          <div class="card">
            <div class="card-info">
              <h3><%= link_to duck.name, duck_path(duck) %></h3>
              <p>
                <% duck.skills.each do |skill| %>
                  <%= skill.name %>
                <% end %>
              </p>
            </div>
            <div class="card-photo">
              <%= cl_image_tag duck.photo.key, height: 200, crop: :fill %>
            </div>
            <div class="card-row">
              <p><%= duck.price %> Euros</p>
              <p><%= duck.average_rating %> / 5.0</p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="container-map">
        <div style="height: 400px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
</div>
