<div class="container">
  <div class="show-global">
    <div class="show-description">
      <div>
        <h1>My name is <%= @duck.name %></h1>
        <br>
        <h3>Skills: <% @duck.skills.each do |skill| %>
              <%= skill.name %>
            <% end %>
        </h3>
      </div>
      <div>
      <br>
      <h3>Description:</h3>
      <h3><%= @duck.description %></h3>
      </div>
      <br>
      <div>
        <p><%= @duck.price %> Euros</p>
        <p><%= @duck.average_rating %> / 5.0</p>
      </div>
      <div class="show-link">
      <%= link_to "Create a rentals", new_duck_rental_path(@duck.id), class: "btn btn-flat"%>
        <%= link_to "Back", ducks_path, class: "btn btn-flat" %>
        <% if policy(@duck).update? %>
          <%= link_to "Edit", edit_duck_path(@duck) %>
         <% end %>
        <% if policy(@duck).destroy? %>
          <%= link_to 'Delete',
                  duck_path(@duck),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
    <div class="show-photo">
      <%= cl_image_tag @duck.photo.key, crop: :fill %>
    </div>
  </div>
</div>
