<div>
  <h2><%= @duck.name %>, <%= @duck.user.username %></h2>
  <h3><% @duck.skills.each do |skill| %>
        <%=  skill.name %>
      <% end %>
  </h3>
</div>
<div>
 <p><%= @duck.description %></p>
</div>
<div>
  <p><%= @duck.price %></p>
  <p><%= @duck.average_rating %></p>
</div>
<%# <%= link_to "Edit a Duck", edit_duck_path %>
<%= link_to "Back to ducks", ducks_path %>
