<div>
  <h2><%= @duck.name %></h2>
  <h3><%= duck.skills %></h4>
</div>
<div>
 <p><%= @duck.descrption %></p>
</div>
<div>
  <p><%= duck.price %></p>
  <p><%= duck.average_rating %></p>
</div>
<%# <%= link_to "Edit a Duck", edit_duck_path %>
<%= link_to "Back to ducks", ducks_path %>
