
<div class="container">
  <div class="cards">
    <% @rentals.each do |rental| %>
      <div class="card">
        <div class="card-info">
          <h2><%= rental.duck.name %></h2>
          <p>Owner: <%= rental.duck.user.username %></p>
          <p>from: <%= rental.date_start.strftime("%d/%m/%Y") %></p>
          <p>to: <%= rental.date_end.strftime("%d/%m/%Y") %></p>
        </div>
        <div class="card-row">
          <p><%= rental.comments %></p>
          <p><%= rental.rating %></p>
        </div>
        <div class="card-row">
          <%#= link_to 'More details', duck_rental_path%>
          <%= link_to 'Add a comment', edit_duck_rental_path(rental.duck, rental)%>
          <%= link_to 'Delete',
                duck_rental_path(rental.duck, rental),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "btn btn-ghost"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "Create a rentals", new_duck_rental_path, class: "btn btn-flat"%>
<%= link_to "Back to ducks", ducks_path, class: "btn btn-flat" %>
