<div class="search rounded-pill align-middle">
    <%= simple_form_for :rental, url: root_path, method: :get do |f| %>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
        <h2>From</h2>
        </div>
        <div class="col-auto">
        <%= f.input :date_start, as: :date, html5: true, label: false %>
        </div>
        <div class="col-auto">
        <h2>To</h2>
        </div>
        <div class="col-auto">
        <%= f.input :date_end, as: :date, html5: true, label: false %>
        </div>
        <div class="col-auto">
        <%= link_to "Check availability", "#", class: "btn btn-gradient" %>
        </div>
      </div>
    <% end %>
  </div>
<%# <div class="container">
  <h2>Reservation request for:</h2>
  <p><%#= @duck.name %></p>
  <div class="alert"><%= @message %></div>
  <%= simple_form_for [@duck, @rental] do |f| %>
    <%= f.input :date_start, as: :date, html5: true %>
    <%= f.input :date_end, as: :date, html5: true %>
    <%= f.submit "Ask for a reservation", class: "btn btn-flat" %>
  <% end %>
</div>
<%= link_to "Back to rentals", rentals_path, class: "btn btn-flat"%>
<%= link_to "Back to rentals", duck_rentals_path, class: "btn btn-flat"%>
