<%# <div class="container">
  <h2>Reservation request for:</h2>
  <p><%#= @duck.name %></p>
  <div class="alert"><%= @message %></div>
    <%= simple_form_for [@duck, @rental] do |f| %>
      <p>From</p><%= f.input :date_start, as: :date, html5: true, label: false %>
      <p>To</p><%= f.input :date_end, as: :date, html5: true, label: false %>
      <%= f.submit "Ask for a reservation", class: "btn btn-flat" %>
    <% end %>
</div>
<br>
<%= link_to "Back to reservations", duck_rentals_path, class: "btn btn-flat"%>
