<div class="container">
  <h2>Reservation request for:</h2>
  <p><%#= @duck.name %></p>
  <div class="alert"><%= @message %></div>
  <%= simple_form_for(@rental) do |f| %>
    <%= f.input :date_start, as: :date %>
    <%= f.input :date_end, as: :date %>
    <p>Temporary</p>
    <%= f.association :duck %>
    <%= f.association :user %>
    <%= f.submit "Ask for a reservation", class: "btn btn-flat" %>
  <% end %>
</div>
<%= link_to "Back to rentals", rentals_path, class: "btn btn-flat"%>
