<div class="container">
  <h2><%= @rental.duck.name %></h2>
  <p>Owner: <%= @rental.duck.user.username %></p>
  <p><%= @rental.id %></p>
  <p>From:<%= @rental.date_start.strftime("%d/%m/%Y") %></p>
  <p>To:<%= @rental.date_end.strftime("%d/%m/%Y") %></p>
  <p><%= @rental.comments %></p>
</div>
<%= link_to "Back to rentals", duck_rentals_path, class: "btn btn-flat"%>
<%= link_to "Back to ducks", ducks_path, class: "btn btn-flat"%>
<%= link_to "Home", root_path, class: "btn btn-flat"%>
